@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Daisy's Coffee Shop!</h1>
    <p>Please select the 'registration' link above to register your account.</p>
</div>

